<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/styleClase5.css">
</head>
<body>
    <!-- <div>
        <h1>Soy un titulo</h1>
    </div> -->
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto animi vel, atque, sequi exercitationem vitae molestiae officiis iste laborum ipsam quae laudantium, provident expedita sunt alias aliquid ullam maiores dolor?</p>
    <p>Numquam magnam libero necessitatibus possimus, quod beatae earum itaque impedit aliquid quia reprehenderit dignissimos quae cumque distinctio, dicta deleniti debitis consequatur? Neque inventore cumque labore quos iste magni, quisquam mollitia.</p>
    <p>Assumenda repudiandae alias consectetur voluptates accusantium delectus neque odio laborum, voluptatum iure veritatis in odit! Unde quia, molestiae veniam, a recusandae atque voluptatem aliquam qui voluptatibus corrupti harum quasi beatae.</p>
    <p>Sed at atque, explicabo placeat eius reprehenderit eligendi! Corrupti aliquam perspiciatis vitae atque nisi modi voluptatibus quae in debitis alias dolorem, commodi quod, laudantium dolorum laboriosam suscipit! Quidem, explicabo molestias?</p>
    <p>Neque quos maxime sunt iste architecto saepe molestiae laborum repellendus blanditiis? Unde, sapiente, architecto quasi itaque repellat numquam et aperiam quisquam fugit tempore libero soluta? Veniam, necessitatibus? Ratione, cupiditate maxime!</p>
    <p>Atque recusandae quos placeat, nostrum ipsa magni facilis assumenda error accusamus vero nesciunt expedita delectus commodi nam facere veniam illo quam inventore hic voluptas earum. Quas asperiores eius laudantium veniam?</p>
    <p>Modi aliquam, aliquid deserunt ipsa asperiores consectetur laboriosam architecto incidunt dolor possimus perspiciatis atque temporibus. Officia, assumenda dolores quisquam harum, impedit minima modi consequuntur perspiciatis, fugiat cumque iste sapiente sed.</p>
    <p>Nemo mollitia itaque nam officia sapiente quidem accusantium reprehenderit repudiandae est delectus. Reiciendis ex voluptatum adipisci possimus id unde, neque eius distinctio voluptates sit veniam, obcaecati consequatur commodi vitae corporis.</p>
    <p>Sit officia architecto, quasi facilis corporis excepturi eaque fugit rem exercitationem doloribus est tempore asperiores fuga culpa placeat cupiditate temporibus vero optio cum aliquid dolorum? Repudiandae maiores quae perspiciatis in!</p>
    <p>Fuga laudantium ducimus quidem! Repudiandae, eum ratione incidunt dolorum sit sapiente perferendis vero error. Tempora vitae laboriosam ab distinctio ad non, necessitatibus nisi fuga ex illum, odit architecto corporis animi.</p>
    <p>Explicabo ipsa nam deleniti, tempora, est distinctio quo eius, consequatur labore a architecto sunt sed porro veniam molestias repudiandae natus beatae! Vitae sapiente aperiam quasi ratione laboriosam ullam mollitia provident.</p>
    <p>Ullam voluptates rem ex, ad deserunt qui, ipsam voluptatibus necessitatibus quibusdam doloribus voluptatum soluta ab vero reprehenderit facere. Ex amet ipsum, velit aspernatur aliquam suscipit doloremque vitae aperiam repellat reprehenderit?</p>
    <p>Cumque deleniti, animi deserunt autem at dolor nisi neque! Maiores dignissimos reprehenderit commodi veritatis pariatur ex ipsa quaerat laboriosam laborum, voluptates atque quos illo ea? Nobis recusandae blanditiis deserunt illum!</p>
    <p>Rerum voluptas laborum quidem vitae aliquid deleniti illo repudiandae mollitia! Incidunt, cum deserunt! Perspiciatis quas veniam, id ratione soluta incidunt quis voluptatum itaque iure ad veritatis ipsa non cumque adipisci?</p>
    <p>Saepe iure blanditiis nobis omnis atque aperiam? Magni, distinctio sapiente eius architecto animi totam, perferendis sint quod cumque et iusto dolorem delectus voluptas nisi veniam consectetur! Illo quo enim omnis?</p>
    <p>Corrupti nesciunt magnam pariatur ipsa aliquid! Repellendus consequuntur earum voluptate expedita recusandae culpa officiis harum autem, voluptatem amet molestias accusantium ducimus incidunt id ipsam! Doloremque amet maiores cupiditate sequi mollitia?</p>
    <p>Recusandae veritatis omnis aut! Impedit, vel id. Accusantium, dolor dolorem distinctio voluptate maiores doloremque aspernatur. Fugit, explicabo doloremque eaque et in dolorum inventore autem nulla aliquam. Asperiores magni commodi aspernatur?</p>
    <p>Inventore non fuga iste? Dolores eius excepturi quos neque a in architecto! Et fugit nam iusto ipsum! Soluta ab praesentium non, recusandae harum voluptatum porro, inventore vero, vitae obcaecati nihil.</p>
    <p>Inventore debitis cumque, totam labore neque voluptatibus hic quasi ipsum vitae magnam molestiae magni accusantium dolorem? Quis facilis porro asperiores voluptatum minima? Totam culpa modi minima ad suscipit atque nisi!</p>
    <p>Corporis quos dolor sunt amet incidunt nemo nesciunt porro, quaerat aliquid in, alias quidem accusantium tempore dolore vero! Amet, est pariatur doloribus necessitatibus fuga modi eos corrupti numquam deleniti tempora?</p>
    <p>Aliquid obcaecati dolorem tempora. Eligendi facilis iure consequuntur debitis a amet vitae aliquid eius assumenda cumque repudiandae, maiores dolorem dicta mollitia, modi accusantium non deleniti optio voluptas voluptates nihil placeat?</p>
    <p>Excepturi natus fugiat exercitationem repellat laboriosam aut vitae maxime labore. Quis laboriosam, distinctio cum corrupti, cumque minima beatae fuga deleniti quidem aspernatur amet sed ipsam magnam dignissimos, quam numquam. Iure.</p>
    <p>Voluptatibus ut aspernatur veniam quae dolores odio natus fugit iusto facilis ratione corrupti suscipit consequuntur quaerat, alias debitis eaque placeat cumque eum earum asperiores ad. Commodi, ab. Illo, cumque mollitia!</p>
    <p>Autem distinctio natus, aliquid quisquam modi eum tempora? Repellendus, modi, quasi dolorum, pariatur expedita nemo debitis fugiat quis laboriosam beatae accusamus ex recusandae sapiente facere optio dolores commodi. Facilis, at?</p>
    <p>Accusamus, a praesentium blanditiis odio non aliquam tenetur. Quo dicta, asperiores unde repellat corrupti nulla odit, dolores sint natus similique ratione, vel sapiente doloremque voluptatibus magni provident quisquam? Sint, ea.</p>
    <p>Laboriosam atque ducimus nesciunt neque eum natus ullam, suscipit voluptatibus, odit ex, quos velit. Reiciendis sequi aspernatur pariatur accusamus facilis voluptatem modi. Ipsam veniam assumenda reiciendis! Eveniet cum numquam voluptatem?</p>
    <p>Minus officia illum, veniam eaque doloribus quidem rem natus blanditiis est, libero incidunt consequatur, commodi eius repudiandae non molestias aut atque accusamus ullam! Dolorem tempore nulla sint assumenda incidunt nihil!</p>
    <p>Quas, consequuntur maiores ipsum id magnam ipsam voluptate odio, dignissimos assumenda voluptates earum reiciendis officia! Doloremque, fugiat laborum! Quibusdam aliquid voluptate labore vitae quos error at vero iste est hic?</p>
    <p>Aliquid rem repudiandae veniam laborum unde voluptatem blanditiis, deleniti quibusdam ratione dolore magnam suscipit eos! Recusandae assumenda aut mollitia dolore quia nesciunt totam molestiae. Possimus culpa atque obcaecati reiciendis provident?</p>
    <p>A nemo eos quos magnam, aut eligendi excepturi, nobis reprehenderit sequi cum commodi. Corporis quibusdam, quia iusto sequi suscipit animi, repellendus perferendis saepe temporibus voluptatibus odit voluptates nemo, eaque odio?</p> -->
    <!-- <h1>Soy un titulo</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores atque minima, libero quis earum veritatis in incidunt iste eos modi? Porro doloremque eaque, temporibus sint corrupti totam eius fuga quam!</p> -->
    <!-- <p>SOY UN PARRAFO</p> -->
    <!-- <p class="solid">Soy un parrafo</p>
    <p class="dotted">Soy un parrafo</p>
    <p class="dashed">Soy un parrafo</p>
    <p class="double">Soy un parrafo</p>
    <p class="groove">Soy un parrafo</p>
    <p class="inset">Soy un parrafo</p>
    <p class="outset">Soy un parrafo</p>
    <p class="mix">Soy un parrafo</p>
    <p class="ridge">Soy un parrafo</p> -->

    <!-- <div>
        <p>soy otro parrafo</p>
        <p>soy otro parrafo</p>
    </div> -->

    <div class="div1">Soy un div</div>
    <span class="span1">Esto es un span</span>
    <img src="Public/Img/Cargar(en UTILITARIO).png" alt="">
    <span class="span2">Otro span</span>
    <div class="div2">Soy un div</div>
</body>
</html>