<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Presentación de Menú: Plato Principal mas Postre Incluídos</h1>
    <h2>Plato Principal: Guiso de Fideos</h2>
    <h3>Descripción</h3>
    <p><i>Típico y conocido guiso de fideos argentino. Fideos con salsa de pure de tomate, carne y algunas verduras picadas</i></p>
    <h3>Ingredientes:</h3>
    <ul type="square">
        <li>2 cebollas</li>
        <li>Mitad de un morrón</li>
        <li>Aceite</li>
        <li>Carne Picada</li>
        <li>Puré de Tomate</li>
        <li>Fideos</li>
    </ul>
    <h3>Pasos para la Preparación:</h3>
    <ol type="I">
        <li>Colocar la olla en el fuego y echar en ella un chorrito de aceite</li>
        <li>Picar las cebollas y el morrón y echarlas a la olla junto a la carne</li>
        <li>Separo y esparso bien la carne picada y tapo la olla</li>
        <li>Luego de media hora echandole agua de a ratitos, ya estando la carne separada y cocinada, le agrego el puré de tomate</li>
        <li>Despues de quince minutos, se encontrará burbujeante, le agrego agua hasta que deje de hacerlo</li>
        <li>Luego de otros 15 minutos, agrego los findeos y mas agua revolviendo todo</li>
        <li>Pasados otros 15 minutos, ya estará listo para servir</li>
    </ol>
</body>
</html>