<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Titulo</h1>
    <h2>Subtitulo</h2>
    <h3>Subtitulo</h3>
    <h4>Subtitulo</h4>
    <h5>Subtitulo</h5>
    <h6>Subtitulo</h6>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Fugit quas ad minima ipsum quam quod laborum tenetur? Dignissimos obcaecati beatae nisi, aliquam ex repellat ipsam natus necessitatibus et laborum aliquid!</p>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas maiores harum laboriosam alias recusandae. Soluta distinctio, perferendis voluptatem, at doloremque expedita quidem sequi consectetur odio aut velit possimus fuga modi.</p>
    <p><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae suscipit doloribus, perferendis, culpa velit cumque aperiam iusto inventore quis quasi tempora sit, qui maxime repellat adipisci. Aspernatur maxime in alias.</b></p>
    <hr>
    <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto id, harum magni pariatur reiciendis minima eligendi, error explicabo quos excepturi illum cumque recusandae inventore fuga quaerat, perspiciatis molestiae quis quas.</strong></p>
    <hr>
    <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, dignissimos beatae! Doloribus dolorum labore vitae molestiae quia quae. Possimus praesentium velit voluptas officia pariatur adipisci ipsum ea, sunt asperiores inventore.</i></p>
    <hr>
    <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consequatur, adipisci molestias blanditiis quae totam aliquid, ea est voluptatum laudantium rem ab. Earum quibusdam porro iste quam, officia recusandae! Aliquid.</em></p>
</body>
</html>